.main-sales {
  text-align: center;
}

.main-calcBtn {
  text-align: center;
}

.main-subHeading {
  text-align: center;
}

.main-roundMenu {
  text-align: center;
}

.main-roundMenuItem a {
  display: block;
}
