.content-centered {
  text-align: center;
}

.main-roundMenuItem a {
  display: block;
}

.apllies-items,
.extraServices-items {
  font-style: italic;
  font-size: 1.3rem;
}

.main-apllies {
  border-bottom: 1px solid #bbb9b9;
  border-top: 1px solid #bbb9b9;
}

.applies-header {
  font-size: rem-calc(25);
}
