.otdTypes-tabs {
  .tabs-title {
    width: calc(100% / 4);
    padding: rem-calc(15);
    text-align: center;
  }
  img {
    display: block;
    height: 200px;
    width: 100%;
  }
}

.otdType-title {
  margin: 2rem 0;
}

.otdType-types > * {
  margin: 2rem 0;
}
