.footer {
  .row {
    margin-bottom: 0;
  }
}

.footer-garantee,
.footer-social {
  text-align: center;
}

.footer-main {
  border-top: 1px solid #bbb9b9;
}

.footer-social {
  img {
    width: 150px;
  }
}

.footer-contacts-time,
.footer-contacts-phone {
  text-align: right;
}
