.header {
  text-align: center;
  .row {
    height: rem-calc(150);
    margin-bottom: 0;
  }
  .columns {
    margin-bottom: 0;
  }
}

#header-nav {
  justify-content: center;
  height: rem-calc(100);
}

.top-bar,
.top-bar ul {
  background: none;
}

.menu .menu-text {
  padding: 0;
}

.header-phone {
  color: get-color(primary);
  font-size: rem-calc(20);
}
