<div class="grid-container footer">
  <div class="row align-middle footer-main">
    <div class="large-3 columns footer-copy">&copy; 2013—2018</br> Компания Ал-Плюс</div>
    <div class="large-3 columns">
      <a href="control.html">
        <img src="{{root}}assets/img/garantee-sm.png" alt="гарантия"> Гарантия on-line
      </a>
    </div>
    <div class="large-3 columns footer-social">
      <a href='http://vk.com/al_pluss' target="_blank">
        <img src="{{root}}assets/img/vk.jpg" alt="">
      </a>
    </div>
    <div class="large-3 columns">
      <div class="footer-contacts-phone">+7 (921) 958-38-78</div>
      <div class="footer-contacts-time">пн-пт с 10:00 до 21:00 </div>
    </div>
  </div>
  <!-- footer -->
</div>
