<div class="grid-container footer">
  <div class="row align-middle footer-garantee">
    <div class="large-12 columns">
      <img src="#" alt="гарантия">
    </div>
  </div>
  <div class="row align-middle">
    <div class="large-4 columns">&copy; 2013—2015 Компания Ал-Плюс</div>
    <div class="large-4 columns footer-social">
      <a href='#'>
        <img src="{{root}}assets/img/vk.jpg" alt="">
      </a>
    </div>
    <div class="large-4 columns">
      <div class="footer-contacts-phone">+7(921)958-38-78</div>
      <div class="footer-contacts-time">пн-пт с 10:00 до 21:00 </div>
    </div>
  </div>
  <!-- footer -->
</div>
