<div class="grid-container header">
  <div class="row align-middle">
    <div class="columns large-3 header-backcall">
      <button class="button medium primary" data-open="back-call">Обратный звонок</button>
    </div>
    <div class="columns large-6 header-logo">
      <a href="index.html">
        <img src="{{root}}assets/img/new_logo.gif" alt="logo" />
      </a>
    </div>
    <div class="columns large-3 header-phone">+7 (921) 958-38-78</div>
  </div>

  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="header-nav"></button>
    <div class="title-bar-title">Меню</div>
  </div>

  <div class="top-bar" id="header-nav">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a href="index.html">Замена остекления</a>
      </li>
      <li class="menu-text">
        <a href="otdelka.html">Отделка и утепление</a>
      </li>
      <li class="menu-text">
        <a href="tonirovka.html">Тонировка</a>
      </li>
      <li class="menu-text">
        <a href="remokon.html">Ремонт окон</a>
      </li>
      <li class="menu-text">
        <a href="gallery.html">Примеры работ</a>
      </li>
      <li class="menu-text">
        <a href="otzyvy.html">Отзывы</a>
      </li>
      <li class="menu-text">
        <a href="contacts.html">Контакты</a>
      </li>
    </ul>
  </div>
</div>
<!-- header -->
<div class="reveal" id="back-call" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- modal -->
